/*
Theme Name: southkingcountypi.com
Theme URI: http://outsourcevietnam.co
Author: Creative Haus
Coded by: Outsource Vietnam
Description: outsourced by OSVN, on demand of CH
Version: 1.1
*/



@import url('http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,300,700,300italic,400');
@import url('http://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('http://fonts.googleapis.com/css?family=Merriweather+Sans:700');
@import url('http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:800');

body {font-family: 'Roboto', sans-serif; font-size: 14px; line-height: 24px;background: #fff; color: #7a7a7a}
#wrapper{overflow:hidden;width:100%;position:relative}
.container{max-width: 990px;}
h1, .h1, h2, .h2, h3, .h3{font-family: 'Roboto Slab', serif; font-weight: 400}
a{color: #5eb22b;}
a:hover{color: #d9e409; text-decoration: none;}
.common_btn{background: #5eb22b; color: #fff; font-family: 'Roboto Slab', serif;}
.common_btn:hover{background: #d9e409;color: #fff;}

.text-content{padding: 50px 0;}
.text-content p{margin-bottom: 24px;}

/* WP */
.wp-caption{margin-bottom:1.5em;text-align:center;padding-top:5px}
.wp-caption img{border:0 none;padding:0;margin:0}
.wp-caption p.wp-caption-text{line-height:1.5;font-size:10px;margin:0}
.wp-smiley{margin:0!important;max-height:1em}
blockquote.left{margin-right:20px;text-align:right;margin-left:0;width:33%;float:left;margin-top: 24px;}
blockquote.right{margin-left:20px;text-align:left;margin-right:0;width:33%;float:right;margin-top: 24px;}


/* Header */
header{}
header .logo{margin-left: 6px;}
header .social{font-size: 0px; margin-top: 9px;}
header .social li{display: inline-block;}
header .social li a{display: block; overflow: hidden; position: relative;}
#top .call-list{font-size: 0px;margin: 0;}
#top .call-list li{display: inline-block;margin: 0;}
#top .call-list li a{display: block; color: #7a7a7a;font-weight: 700;font-size: 14px;padding: 6px;}
#top .call-list li a.phone{background: #FFF url(images/icon-phone.png) 9px 5px no-repeat;padding: 6px 9px 6px 29px;}
#top .call-list li a.fax{background: #FFF url(images/icon-fax.png) 9px 7px no-repeat;padding: 6px 9px 6px 39px;}
#top .call-list li a.phone:hover{background-color: #5eb22b;background-position: 9px -33px; color: #fff}
#top .call-list li a.fax:hover{background-color: #5eb22b;background-position: 9px -33px; color: #fff}
#top{border-bottom: 1px solid #f0f0f0;margin-bottom: 21px;}

/* Nav */
.navbar-toggle{border: 1px solid #5eb22b;position:absolute;right:0;top: 110px;margin-top:0}
.navbar-toggle .icon-bar{background: #5eb22b;}
.navbar-toggle:hover{background: #5eb22b;}
.navbar-toggle:hover .icon-bar{background: #fff;}

/* Footer */
footer .top ul{text-align: center;font-size: 0; margin: 0;padding: 10px 0;}
footer .top ul li{text-transform: uppercase; font-size: 12px; color: #a2a3a2; font-weight: 300;display: inline-block; margin: 0}
footer .top ul li:before{content: '|';padding: 0 9px;}
footer .top ul li:first-child:before{display: none;}
footer .top{border-top: 1px solid #F0F0F0;border-bottom: 1px solid #F0F0F0;}
footer .bottom a{color: #b0b1b0}
footer .bottom a:hover{color: #5eb22b}
footer .bottom{color: #b0b1b0; font-size: 12px; font-weight: 700;padding: 16px 0;}
footer{margin-top: 26px;}

/* Slider */
.back-slider{position: relative; z-index: 1;}
.back-slider:before,.back-slider:after{position: absolute; left: 0px; height: 10px; background: rgba(255,255,255,0.4); width: 100%; content: ''; z-index: 999}
.back-slider:before{top: 0px}
.back-slider:after{bottom: 0px;}

/* Index */
#index .featured{margin-top: -57px; position: relative; z-index: 9; text-align: center; padding-bottom: 31px; border-bottom: 1px solid #f0f0f0;}
#index .featured ul{font-size: 0px; margin: 0px}
#index .featured li{ margin: 0 6px;display: inline-block;}
#index .featured .table-middle{display: table;width: 189px; height: 189px; border-bottom: 15px solid #5eb22b; background: #f0f0f0;}
#index .featured li a{display: table-cell; vertical-align: middle; color: #949494;font-size: 25px;text-transform: uppercase;font-family: 'Roboto Slab', serif;}
#index .featured li:hover .table-middle{background: #5eb22b; border-color: #f0f0f0}
#index .featured li:hover a{color: #fff; }
#index .left{width: 660px;}
#index .left h2{text-transform: uppercase; line-height: 40px;margin-top: 40px;margin-bottom: 19px;font-size: 36px;}
#index .left h2 span{font-size: 16px; color: #5eb22b;font-family: 'Roboto', sans-serif;margin-left: 15px;}
#index .left p{margin: 0 0 21px;}
#index .left a{text-align: center; display: block; line-height: 25px; padding: 9px; max-width: 221px; font-size: 16px;width: 100%;}
#index .right{width: 250px; border-top: 1px solid #a5a5a5;margin-top: 44px;margin-bottom: 27px;}
#index .right h4{padding: 11px 10px 11px 29px; background: url(images/icon-fb-small.png) 4px 11px no-repeat; line-height: 18px; font-size: 13px; font-weight: 700; font-family: 'Merriweather Sans',sans-serif;margin: 0;}
#index .right ul{}
#index .right li{border-top: 2px solid #e7e7e6; padding: 2px 0 6px 12px; color: #999999; line-height: 19px;}
#index .right .date{font-size: 11px; color: #555555}
#index .right ul li:last-child{border-top: 1px solid #a5a5a5;}

#phone-call:before,#phone-call:after{position: absolute; left: 50%; width: 840px; content: ''; z-index: 2; margin-left: -420px;height: 13px;}
#phone-call:before{top: 0px; background: url(images/shadow-top.png) 0px 0px;}
#phone-call:after{bottom: 0px; background: url(images/shadow-bottom.png) 0px 0px; }
#phone-call .icon-phone{margin: 17px auto 13px; width: 92px; height: 92px; border: 3px solid #e1e1e4; background: #F6FBF3 url(images/icon-phone-large.png) 28px 14px no-repeat; }
#phone-call .icon-phone:hover{background: #5EB22B url(images/icon-phone-large-hover.png) 28px 14px no-repeat;border-color: #5EB22B;}
#phone-call span{color: #5eb22b}
#phone-call .number{font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 25px; max-width: 496px; margin: 8px auto 27px; border-top: 1px solid #f1f2f1;padding-top: 8px;}
#phone-call{background: #f6fbf3; border-top: 1px solid #f0f0f0; border-bottom: 1px solid #f0f0f0;position: relative; padding: 15px 0;font-size: 20px; line-height: 19px;font-family: 'Roboto Slab', serif; text-transform: uppercase}

#main .member-ship{border-top: 1px solid #f0f0f0}
.member-ship h3.title{font-size: 26px;color: #e4e4e4;text-align: center;text-transform: uppercase;margin-bottom: 50px;}
.member-ship .rows{max-width: 735px; margin: 0 auto;}
.member-ship .rows li{padding: 15px;text-align: center;margin-bottom: 30px;}
.member-ship .rows li img{display: block; margin: 0 auto;}
.member-ship .rows li span{text-transform: uppercase; color: #191516; font-size: 12px; display: inline-block;line-height: 13px;text-align: center;max-width: 185px;margin-top: 13px;}
#index .member-ship{padding-top: 32px;}
.member-ship h4{text-transform: uppercase; font-weight: 300; color: #c4c4c4;text-align: center;padding-bottom: 5px;}
.member-ship h4.title{font-weight: 700; color: #747474 ;padding: 22px 0;}

.large-title{background: #f0f0f0; border-bottom: 10px solid #eae8e8;padding: 20px 0 13px;}
.large-title h2{font-size: 36px; color: #5eb22b;text-transform: uppercase;max-width: 660px;}
.large-title p{margin-bottom: 24px;max-width: 590px;}

.links-group h4{text-transform: uppercase; line-height: 30px; font-weight: 700; margin-top: 0;}
.links-group h4 span{text-transform: initial; font-weight: 400; font-size: 14px; }
.links-group .links-list{margin: 32px 0 0 0;padding-bottom: 27px;}
.links-group .links-list li{margin-bottom: 22px;}
.links-group .common_btn{width: 134px; height: 26px; line-height: 26px; font-size: 10px; display: block; text-align: center;}
.links-group h2{font-size: 36px; color: #5eb22b;text-transform: uppercase; background: #f0f0f0; line-height: 41px; padding: 6px 0;margin: 0;}
.links-group{margin-top: 30px;}

.cols-practice{border-left: 1px solid #f0f0f0; border-right: 1px solid #f0f0f0; position: relative;max-width: 704px;margin: 51px auto 0;}
.cols-practice:before{position: absolute; left: 50%; top: 0px; width: 1px; background: #f0f0f0; height: 100%; content: ''}
.cols-practice li{width: 50%; padding: 30px 40px 0; float: left;}
.cols-practice li .row-practice{margin-bottom: 24px;padding-bottom: 6px;}
.cols-practice li img{display: block;}
.cols-practice li h3{color: #5eb22b; font-size: 21px; text-transform: uppercase;margin-top: 6px;font-weight: 700;margin-bottom: 12px;}

.cols-why{position: relative;margin: 35px 0;}
.cols-why:before{position: absolute; height: 100%; width: 1px; background: #f0f0f0; left: 50%; top: 0; content: ''}
.cols-why li{float: left; width: 50%; position: relative; padding: 9px 30px 43px 60px;}
.cols-why li:before{position: absolute; content: '\f00c'; color: #5eb22b; font-family: 'FA'; font-size: 18px; top: 15px; left: 25px; }
.cols-why h4{font-weight: 700;line-height: 18px;text-transform: uppercase;}
.cols-why p{line-height: 18px;}

.info-content{border-top: 1px solid #f0f0f0;border-bottom: 1px solid #f0f0f0; line-height: 30px;padding: 35px 0 30px;}

.contact-form{background: url(images/form-back.jpg) 0px 0px repeat;margin-top: 40px;margin-bottom: 23px;}
.contact-form .form-small{max-width: 285px; float: left; margin-bottom: 20px;width: 100%;}
.contact-form .form-control{font-family: 'Open Sans Condensed', sans-serif; border: 1px solid #edebec; font-size: 23px; padding: 0 13px;}
.contact-form .form-small input{height: 41px; }
.contact-form .form-email{margin: 0 22px 20px;}
.contact-form .form-large{margin-bottom: 26px;}
.contact-form form{padding: 0 30px 34px;}
.contact-form .submit_btn{font-size: 18px; font-weight: 800;font-family: 'Open Sans', sans-serif; max-width: 258px; height: 37px;margin: 0 auto;display: block;width: 100%;}
.contact-form textarea{height: 123px;}
.contact-form h4{font-weight: 700; line-height: 35px; text-transform: uppercase; border-bottom: 1px solid #e1e1e1;text-align: center;padding: 6px 10px;margin: 0 0 28px;}
.contact-form h4 span{color: #66b536}
.contact-form.special{margin-top: -84px;position: relative;z-index: 99;}
.contact-form.special form{max-width: 345px;margin: 0 auto;}
.contact-form.special .form-email{margin: 0 0 5px}
.contact-form.special .form-small{margin: 0 0 5px}
.contact-form.special .form-large{margin-bottom: 8px}
.contact-form.special .submit_btn{max-width: 285px;}

.contact-form .heapBox a{display:  block;}
.contact-form .heapBox{position: relative;z-index: 999;overflow: hidden;}
.contact-form .heapBox .holder{max-width: 285px; height: 41px;  color: #c9c7c8;text-decoration: none;line-height: 39px;width: 100%;font-family: 'Open Sans Condensed', sans-serif;  border: 1px solid #EDEBEC;  font-size: 23px;  padding: 0 13px;text-transform: uppercase;background: #fff;overflow: hidden;}
.contact-form .heapBox .handler{width: 9px; height: 9px; background: url(images/drop-arrow.png) 0px 0px no-repeat; top: 15px; right: 10px; z-index: 9; position: absolute}
.contact-form .heapBox .heap{ width: 100%;z-index: 99;}
.contact-form .heapBox .heapOption{background: #fff;padding: 5px 10px;text-decoration: none;color: #000;font-family: 'Open Sans Condensed', sans-serif;font-size: 20px;border-bottom: 1px solid #EDEBEC;}
.contact-form .heapBox li:first-child{display: none}
.contact-form .heapBox .heapOption a{color: #000;}
.contact-form .heapBox .heapOption a:hover{color: #eb4a0a; text-decoration: none;}

.submit_btn{background: #66b536; border: none; color: #fff; cursor: pointer;}
.submit_btn:hover{background: #d9e409;}

#faq h4{font-weight: 700; position: relative;  border-bottom: 1px solid #f0f0f0; padding: 6px 30px 6px 0; cursor: pointer; text-transform: uppercase; line-height: 36px;margin: 0;}
#faq h4:before{content: '';background: url(images/drop-arrow.png); width: 9px; height: 9px; right: 10px; top: 20px; position: absolute;}
#faq h4:hover:before{background: url(images/drop-arrow-hover.png)}
#faq h4:hover{background: #5eb22b; color: #fff}
#faq h4 span{color: #5eb22b}
#faq h4:hover span{color: #fff;}
#faq .answer{line-height: 30px; border-bottom: 1px solid #f0f0f0;padding: 12px 0 24px; overflow: hidden;}
#faq{border-top: 1px solid #f0f0f0;margin-top: 45px;margin-bottom: 42px;}
#faq li.close-acc .answer{height: 0!important; padding: 0; border: none}

/* Update */
#index .right h4{position: relative;}
 .caroul{position: absolute; right: 7px;cursor: pointer;}
 .caroul:before{font-family: 'FA';}
#carousel_next:before{content: '\f102';}
#carousel_prev:before{content: '\f103';}
#carousel_next{top: 3px;}
#carousel_prev{top: 13px;}

@media (max-width: 991px){
	#index .left{width: 460px}
	footer .top ul li:last-child:before{display: none;}
}
@media (max-width: 768px){
	.navbar-toggle{display: block;}
	.navbar{position:absolute;top:0;right:0;margin:0;height:0;width:100%;min-height:0;padding:0;border:none}
	.navbar-main{top:0;right:-70%;position:absolute;width:70%;background:#222;z-index:900}
	.navbar-main.active{right:0}
	.navbar-main #navbar ul li{display:block;margin:0}
	.navbar-main #navbar{padding:0}
	.navbar-main #navbar ul li a{color:#fff;font-size:14px;text-align:left;display:block;margin:0;padding:8px 15px}
	.navbar-main #navbar ul li a:hover{color:#38A19E;background:#3B3B3B}
	.navbar-main .close-btn{text-align:center;color:#38A19E;font-size:16px;cursor:pointer;padding:8px 0;background:#323232}
	
	#navbar .menu > li > a:before{content: '';font-family: 'FA';font-size: 16px;  display: inline-block;  width: 25px;}
	#navbar .menu > li:nth-child(1) > a:before{content: '\f015';}
	#navbar .menu > li:nth-child(2) > a:before{content: '\f19d';}
	#navbar .menu > li:nth-child(3) > a:before{content: '\f135';}
	#navbar .menu > li:nth-child(4) > a:before{content: '\f059';}
	#navbar .menu > li:nth-child(5) > a:before{content: '\f0c1';}
	#navbar .menu > li:nth-child(6) > a:before{content: '\f0c0';}
	#navbar .menu > li:nth-child(7) > a:before{content: '\f041';}
	
	header .logo{margin-bottom: 40px}
	#index .left{width: 100%;}
	#index .right{width: 100%}
	.contact-form .form-email{margin: 0 0 20px}
	.contact-form form{max-width: 318px;margin: 0 auto;}
}
@media (max-width: 649px){
	#index .featured li{max-width: 189px; display: block; margin: 0 auto 30px}
	.cols-practice li{width: 100%}
	.cols-practice:before{display: none}
}
@media (max-width: 559px){
	footer .top ul li{display: block;}
	footer .top ul li:before{display: none;}
	.cols-why li{width: 100%;}
	.cols-why:before{display: none;}
}
@media (max-width: 465px){
	footer .fl,footer .fr{width: 100%; text-align: center}
	#index .left h2 span{display: block; margin-left: 0}
}
@media (max-width: 435px){
	header .logo{width: 100%; text-align: center;height: 72px;margin-bottom: 0px;margin-left: 0;}
	header .social{width: 100%;text-align: center; margin-bottom: 60px}
	.navbar-toggle{top: 180px;left: 50%;margin: 0;margin-left: -22px;}
	#top .call-list{width: 100%; text-align: center}
	#index .featured{margin-top: 30px;}
	
}
@media (max-width: 332px){
	.navbar-toggle{top: 220px}
}
@media (min-width: 769px){
	.navbar-main{max-height: 34px}
	.navbar-main .close-btn{display: none;}
	.navbar-main .menu{font-size: 0;float: right;margin-top: 27px;margin-bottom: 2px;}
	.navbar-main .menu > li{display: inline-block;margin-left: 24px;}
	.navbar-main .menu > li > a{font-size: 12px; font-family: 'Roboto Slab', serif; text-transform: uppercase; color: #7a7a7a;display: block;padding: 0 10px; position: relative; z-index: 4;}
	.navbar-main .menu > li.current-menu-item > a{color: #5eb22b;}
	.navbar-main .menu > li > a:before{content: ''; position: absolute; top: 50%; left: 50%; width: 0px; height: 0px; background: #fff; z-index: -1}
	.navbar-main .menu > li > a:hover:before{background: #5eb22b; width: 100%; height: 100%; top: 0px; left: 0px}
	.navbar-main .menu > li > a:hover{color: #fff}
}