.relative{position:relative}
.absolute{position:absolute}
.block{display:block}
.inline-block{display:inline-block}
.clear{clear:both;width:100%;line-height:0;font-size:0;height:0;overflow:hidden}
.animation,a,button,input{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.animation-all,.animation-all *,#index .featured li .table-middle,#faq h4,#faq h4 span,#faq .answer,#faq h4:before{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
.alignleft{float:left;margin-right:10px}
.alignright{float:right;margin-left:10px}
.aligncenter{margin:10px auto;display:block}
.hidden{display:none !important}
.fl{float: left}
.fr{float: right}
.res-img{max-width: 100%; height: auto}
.after-clear:after{content:'';display:block;clear:both;width:0;height:0;overflow:hidden}

.contact-form .submit_btn,.contact-form .heapBox .holder{-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;}
#phone-call .icon-phone{-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;}
header .social li a:hover{-webkit-transform: rotate(360deg);
-moz-transform: rotate(360deg);
-o-transform: rotate(360deg);
writing-mode: lr-tb;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;}
.submit_btn{-webkit-box-shadow: 0px 5px 0px 0px rgba(77, 144, 36, 1);
-moz-box-shadow:    0px 5px 0px 0px rgba(77, 144, 36, 1);
box-shadow:         0px 5px 0px 0px rgba(77, 144, 36, 1);}
.submit_btn:hover{-webkit-box-shadow: 0px 5px 0px 0px rgba(181, 191, 0, 1);
-moz-box-shadow:    0px 5px 0px 0px rgba(181, 191, 0, 1);
box-shadow:         0px 5px 0px 0px rgba(181, 191, 0, 1);}

#faq h4:hover:before{-webkit-transform: rotate(0deg);  
    -moz-transform: rotate(0deg);  
    -o-transform: rotate(0deg);  
    transform: rotate(0deg);}
#faq .close-acc h4:before{-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);}
.contact-form .form-control::-webkit-input-placeholder{color: #c9c7c8;}
.contact-form .form-control:-moz-placeholder{color: #c9c7c8;}
.contact-form .form-control::-moz-placeholder{color: #c9c7c8;}
.contact-form .form-control:-ms-input-placeholder{color: #c9c7c8;}


@media (max-width: 768px){
	.navbar-main{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
}
@media (min-width: 769px){
	.navbar-main .menu > li > a:before{transition:all .4s ease;-moz-transition:all .4s ease;-o-transition:all .4s ease;-ms-transition:all .4s ease;-webkit-transition:all .4s ease}
}